*{
	box-sizing:border-box;
}

body, {
  font-family: Trebuchet MS;
  font-family: Trebuchet MS bold;
}

/* header*/
.carousel-inner{
	height: 500px;
	width: 100%; 
	
}

img {width: 100%;} 
	.grid-sizer, 
	.grid-item { box-sizing:border-box;float:left; width: calc(100%/3); 
	padding: 10px;
}

h6 {
	font-size: 2em;
	font-weight: 900;

}


.img {
	height: 200px;
	background: url('./img/agence.jpg') center-left / cover no-repeat;
}